<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <style>
        body { font-family: Arial, sans-serif; max-width: 600px; margin: auto; }
        label, input, button { display: block; margin-bottom: 10px; }
    </style>
</head>
<body>
    <div>
        <h1>Калькулятор</h1>
        <div>
            <a href="/calculator1" >Перейти до Калькулятора 1</a>
        </div>
        <div>
            <a href="/calculator2" >Перейти до Калькулятора 2</a>
        </div>
        <div>
            <a href="/calculator3" >Перейти до Калькулятора 3</a>
        </div>
    </div>
</body>
</html>