<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <style>
        body { font-family: Arial, sans-serif; max-width: 600px; margin: auto; }
        label, input, button { display: block; margin-bottom: 10px; }
    </style>
</head>
<body>
    <h1>Калькулятор </h1>
    <form method="post">
        <label>Вуглець (%): <input type="number" step="any" name="carbon" required></label>
        <label>Водень (%): <input type="number" step="any" name="hydrogen" required></label>
        <label>Оксиген (%): <input type="number" step="any" name="oxygen" required></label>
        <label>Сірка (%): <input type="number" step="any" name="sulfur" required></label>
        <label>Вміст вологи в паливі (%): <input type="number" step="any" name="moisture" required></label>
        <label>Вміст золи в паливі (%): <input type="number" step="any" name="ash" required></label>
        <button type="submit">Розрахувати</button>
    </form>

    {{ if .Calculated }}
    <h2>Результати:</h2>
    <ul>
        <li>Перехід від робочої до сухої маси: {{ .CoefficientWtoD }}%</li>
        <li>Перехід від робочої до сухої маси: {{ .CoefficientWtoC }}%</li>
        <li>Нижча робоча теплота згоряння: {{ .HeatWorkingMass }}МДж/кг;</li>
        <li>Нижча суха теплота згоряння: {{ .HeatDryMass }}МДж/кг;</li>
        <li>Нижча горюча теплота згоряння: {{ .HeatCombustibleMass }}МДж/кг;</li>
    </ul>
   {{ end }}
</body>
</html>